:root {
	--orange: #f6631e;
	--blue: #166cb7;
	--red: #cb1d31;
	--dark-blue: #3d7781;
	--menu: #60697c;
	--white: #ffff;
	--black: #0000;
	--slick-dot: #ffffff80;
	--back: #f0f2f4;
	--play: #e04a25;
	--tab: #f26224;
	--copy: #212529;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Mulish", sans-serif;
}
.container {
	padding: 0 15px;
	margin: auto;
	width: 100%;
	max-width: 1170px;
}
.main .main-content-col .logo-main {
	width: 600px;
	height: 100%;
}
.main .main-content .main-content-col {
	padding-top: 40px;
	width: 600px;
	height: 802px;
	background-color: var(--red);
	color: var(--white);
}
.main .main-content .logo-main .logo-both {
	display: flex;
	justify-content: space-evenly;
}
.main .main-content .logo-main .logo img {
	width: 100%;
	object-fit: cover;
}
.main .main-content .logo-main .logo-both .navigation nav ul li {
	display: inline-block;
}
.main .main-content .logo-main .logo-both .navigation nav ul li a {
	text-decoration: none;
	color: var(--white);
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 20px;
}
.main .main-content .logo-main .logo-both .navigation .fal {
	background-color: var(--orange);
	padding: 10px;
	font-weight: bold;
}
.main .main-content .main-content-col .logo-main .container .content {
	margin-top: 80px;
}
.main .main-content .main-content-col .logo-main .container .content h2 {
	text-transform: capitalize;
	margin: 20px;
}
.main .main-content .main-content-col .logo-main .container .content2 {
	margin-top: 30px;
	line-height: 30px;
	letter-spacing: 1px;
}
.main .main-content .main-content-col .logo-main .container .content2 p {
	font-size: 20px;
	max-width: 80%;
	margin: 20px;
}
.main .main-content .main-content-col .logo-main .container .bto {
	margin: 50px;
}
.main .main-content .main-content-col .logo-main .container .bto button {
	outline: none;
	border: none;
	border: 2px solid var(--white);
	background-color: transparent;
	color: var(--white);
	padding: 10px 20px;
	font-size: 18px;
	text-transform: capitalize;
	width: 200px;
	z-index: 1;
}
.main .main-content .main-content-col .logo-main .container .bto button p {
	/* line-height: 30px; */
	margin-bottom: 0;
}

.main .main-content .main-content-col .logo-main .container .bto .fal {
	padding-left: 10px;
	/* font-size: 25px; */
}
.main .main-content .main-content-col .logo-main .container .bto button:hover {
	color: #073d83;
	background-color: var(--white);
}

.main .main-content .main-holder img {
	width: 100%;
	object-fit: cover;
}
/* Main Portion End */

/* feature portion start */

.feature {
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
}
.feature .feature-hold img {
	width: 100%;
	height: auto;
	object-fit: cover;
	z-index: 1;
}
.slick-dots {
	position: absolute;
	top: 40%;
	right: 0;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}
.slick-dots li {
	margin: 16px;
}
.slick-dots button {
	display: block;
	margin-bottom: 10px;
	width: 50px;
	height: 4px;
	padding: 0;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: var(--slick-dot);
	text-indent: -9999px;
}
.slick-dots li.slick-active button {
	background-color: var(--orange);
	border: none;
	outline: none;
	width: 60px;
}
.section {
	background-color: var(--back);
	height: 400px;
	position: relative;
}
.section .container .section-top {
	padding-top: 40px;
}
.section .container .section-top h2 {
	color: var(--orange);
	font-weight: bold;
}
.section .container .section-top .section-text h2:after {
	content: "";
	background-color: var(--orange);
	position: absolute;
	top: 22%;
	left: 13.5%;
	width: 80px;
	height: 5px;
}
.section .container .section-top .section-text p {
	margin-top: 30px;
	font-size: 24px;
	color: var(--menu);
}
.section .container .crd {
	padding-top: 20px;
}
.section .container .crd .crd-main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}
.section .container .crd .crd-main .cad-content {
	background-color: var(--white);
}
.section .container .crd .crd-main .cad-content img {
	width: 110px;
	padding: 20px 0 10px 40px;
}
.section .container .crd .crd-main .cad-content h4 {
	color: var(--orange);
	font-weight: bold;
	padding: 10px 10px 0 25px;
}
.section .container .crd .crd-main .cad-content p {
	padding: 10px;
	color: var(--menu);
	font-size: 16px;
}
.section .container .crd .crd-main .cad-content:hover {
	color: white !important;
	background-color: var(--orange);
}
.section .container .crd .crd-main .cad-content:hover p,
.section .container .crd .crd-main .cad-content:hover h4 {
	color: white;
}
.banner {
	position: relative;
	z-index: -1;
	background-image: url(/images/banner.jpg);
	height: auto;
}
.banner .container .php {
	padding-top: 150px;
	text-align: center;
}
.banner .container .php .php-main .php-content h2 {
	font-weight: bold;
	color: var(--white);
}
.banner .container .php .php-main .php-content h2::after {
	content: "";
	width: 75px;
	height: 6px;
	margin-top: 10px;
	position: absolute;
	top: 33%;
	left: 48%;
	background-color: var(--white);
}
.banner .container .php .php-main .php-content .para {
	padding-top: 40px;
}
.banner .container .php .php-main .php-content .para p {
	font-size: 18px;
	color: var(--white);
	font-weight: 300;
	line-height: 35px;
}
.banner .container .ceo {
	display: flex;
	margin-top: 40px;
}
.banner .container .ceo .hold img {
	width: 70%;
	object-fit: cover;
	margin-bottom: 15px;
}
.banner .container .ceo .tet {
	margin: 25px 10px 0 0;
}
.banner .container .ceo .tet h2 {
	color: var(--white);
	font-size: 26px;
}
.banner .container .ceo .tet p {
	color: var(--white);
	font-style: italic;
}
.container .vid-sec {
	padding-top: 30px;
	position: relative;
}
.container .vid-sec .vid-both {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 60px;
}
.container .vid-sec .vid-both .vid-text p {
	text-align: justify;
	color: var(--menu);
	line-height: 25px;
	font-size: 18px;
}
.container .vid-sec .vid-both .vid-hold {
	position: relative;
}
.container .vid-sec .vid-both .vid-hold img {
	width: 600px;
	height: 400px;
	object-fit: cover;
	position: absolute;
	top: -100px;
	right: -10%;
}
.container .vid-sec .vid-both .icon {
	position: absolute;
	top: 20%;
	left: 75%;
	font-size: 70px;
	z-index: 111;
	color: var(--play);
	font-weight: bold;
}
.container .exper {
	margin-top: 20px;
}
.container .exper .exper-main .exper-text {
	position: relative;
}
.container .exper .exper-main .exper-text h2 {
	color: var(--orange);
	font-weight: 800;
	font-size: 28px;
}
.container .exper .exper-main .exper-text h2::after {
	content: "";
	width: 75px;
	height: 6px;
	position: absolute;
	left: 0%;
	top: 40px;
	background-color: var(--orange);
}
.container .exper .exper-main .sect-exp {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 20px;
}
.container .exper .exper-main .sect-exp .sect-main .sect-hold {
	padding-top: 30px;
	text-align: center;
}
.container .exper .exper-main .sect-exp .sect-main .sect-hold img {
	width: 60%;
	object-fit: cover;
}
.container .exper .exper-main .sect-exp .sect-main .sect-hold .sect-text {
	text-align: center;
	padding-top: 10px;
}
.container .exper .exper-main .sect-exp .sect-main .sect-hold .sect-text h2 {
	font-size: 18px;
	font-weight: 700;
	color: var(--menu);
}
.product {
	background-color: var(--back);
	height: 980px;
	margin-top: 40px;
}
.product .container .product-main {
	padding-top: 40px;
}
.product .container .product-main .product-text h2 {
	color: var(--orange);
	font-weight: 800;
	font-size: 28px;
}
.product .container .product-main .product-cd .product-text {
	padding-top: 40px;
}
.product .container .product-main .product-cd .product-text .para {
	font-size: 24px;
	color: var(--menu);
	margin: 24px 0 16px;
	font-weight: 600;
}
.product .container .product-main .product-text {
	position: relative;
}
.product .container .product-main .product-text h2::after {
	content: "";
	width: 75px;
	height: 6px;
	position: absolute;
	left: 0;
	top: 80px;
	background-color: var(--orange);
}
.product .container .item .item-main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2px;
}
.product .container .item .item-main .items-prod {
	background-color: var(--white);
	padding: 60px;
}
.product .container .item .item-main .items-prod .item-hold {
	text-align: center;
}
.product .container .item .item-main .items-prod .item-hold img {
	width: 100%;
	object-fit: cover;
}
.product .container .item .item-main .items-prod .para1 {
	text-align: center;
}
.product .container .item .item-main .items-prod .para1 {
	position: relative;
	padding-top: 80px;
}
.product .container .item .item-main .items-prod .para1 p {
	color: var(--menu);
	font-size: 14px;
	font-weight: 800;
}
.product .container .item .item-main .items-prod .para1 p::before {
	content: "";
	position: absolute;
	top: 30px;
	left: 45%;
	width: 30px;
	background-color: var(--orange);
	height: 1px;
	margin-bottom: 20px;
}
.product .container .item .item-main .items-prod .bt1 {
	margin-top: 20px;
	text-align: center;
}
.product .container .item .item-main .items-prod .bt1 button {
	outline: none;
	border: none;
	border: 1px solid #398cc8;
	padding: 10px 20px;
	color: var(--menu);
	width: 200px;
}
.product .container .item .item-main .items-prod .bt1 .fal {
	font-size: 20px;
	color: #398cc8;
	padding-left: 20px;
}
.product .container .item .item-main .items-prod:hover {
	color: var(--white);
	background-color: var(--orange);
}
.container .insight {
	margin-top: 80px;
	text-align: center;
}
.container .insight .insight-main .insight-text {
	position: relative;
}
.container .insight .insight-main .insight-text h2::before {
	content: "";
	width: 60px;
	height: 7px;
	position: absolute;
	top: 50px;
	left: 47%;
	background-color: var(--orange);
}
.container .insight .insight-main .insight-text h2 {
	color: var(--orange);
	font-weight: 800;
	font-size: 30px;
}
.container .insight .insight-main .para3 {
	font-size: 24px;
	color: var(--menu);
	margin: 24px 0 16px;
	font-weight: 600;
}
.container .flue {
	padding-top: 20px;
}
.container .flue .nav {
	justify-content: center;
}
.container .flue .nav li {
	padding-left: 20px;
}
.container .flue .nav li a {
	color: var(--menu);
	font-weight: bold;
}
.container .flue .nav li a:hover {
	color: var(--white);
	background-color: var(--tab);
}
.container .flue .nav li .active {
	color: var(--white);
	background-color: var(--tab);
}
.container .flue .tab-content .orde {
	padding-top: 30px;
}
.container .flue .tab-content .orde .orde-main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
.container .flue .tab-content .orde .orde-main .order-2 img {
	width: 100%;
	object-fit: cover;
}
.t1 {
	padding-bottom: 10px;
}
.container .flue .tab-content .orde .orde-main .order-2 .order-3 {
	position: relative;
}
.container .flue .tab-content .orde .orde-main .order-2 .order-3 .tn {
	position: absolute;
	top: 0;
	padding: 10px;
}
.container .flue .tab-content .orde .orde-main .order-2 .order-3 .tn button {
	color: var(--white);
	outline: none;
	border: none;
	background-color: var(--tab);
	text-transform: capitalize;
	border-radius: 5px;
	font-size: 13px;
	padding: 2px 5px;
	font-weight: bold;
}
.container .flue .tab-content .orde .orde-main .order-2 .order-3 .tt {
	position: absolute;
	bottom: 0%;
	color: var(--white);
	padding: 15px;
}
.container .flue .tab-content .orde .orde-main .order-2 .order-3 .tt p {
	font-style: italic;
	font-weight: lighter;
}
.container .flue .tab-content .orde .orde-main .order-2 .order-3 .tt h3 {
	font-size: 18px;
	font-weight: 700;
}
.container .happy {
	margin-top: 40px;
}
.container .happy .happy-main {
	position: relative;
	text-align: center;
}
.container .happy .happy-main h2 {
	font-size: 28px;
	font-weight: 800;
	color: var(--orange);
}
.container .happy .happy-main h2::after {
	content: "";
	position: absolute;
	top: 40px;
	left: 46%;
	background-color: var(--orange);
	width: 80px;
	height: 5px;
}
.container .happy .happy-main .para4 {
	margin-top: 30px;
}
.container .happy .happy-main .para4 p {
	color: var(--menu);
	font-size: 24px;
	font-weight: 600;
}
.container .happy .happy-main .para4 span {
	color: var(--orange);
	font-weight: 800;
}
.container .happy-slid {
	margin-top: 80px;
}
.container .happy-slid .happy-slidmain .happy-main-slid img {
	max-width: 100%;
	margin: 0% auto;
	height: auto;
}
.container .happy-slid .happy-slidmain .happy-main-slid .text-1 {
	padding-top: 40px;
}
.container .happy-slid .happy-slidmain .happy-main-slid .text-1 p {
	font-size: 20px;
	font-weight: 600;
	color: var(--menu);
	text-align: center;
	line-height: 1.3;
}
.container .happy-slid .happy-slidmain .happy-main-slid .text-1 .text-name span {
	color: var(--orange);
	font-weight: 800;
	font-size: 16px;
}
.container .happy-slid .happy-slidmain .happy-main-slid .text-1 .text-name {
	padding-top: 20px;
	font-size: 18px;
}
.join-back {
	background-color: var(--tab);
	width: 65%;
	height: 400px;
}
.join-new .join-back .container .join {
	padding-top: 50px;
}
.join-new .join-back .container .join .join-main .join-text {
	padding-left: 70px;
}
.join-back .container .join .join-main .join-text h2 {
	color: var(--white);
	font-weight: bold;
}
.join-back .container .join .join-main .join-text h3 {
	color: var(--white);
	padding-top: 40px;
}
.join-back .container .join .join-main .join-text .para5 p {
	color: var(--white);
	width: 600px;
}
.join-back .container .join .join-main .join-text .para5 .bt-2 {
	padding-top: 40px;
}
.join-back .container .join .join-main .join-text .para5 .bt-2 button {
	border: none;
	outline: none;
	color: var(--white);
	background-color: transparent;
	border: 1px solid var(--white);
	padding: 8px 24px;
	width: 200px;
}
.join-back .container .join .join-main .join-text .para5 .bt-2 .fal {
	padding-left: 8px;
}
.join-back .container .join .join-main .join-text .para5 .bt-2 button:hover {
	color: var(--orange);
	background-color: var(--white);
}
.join-back .container .join .join-main .join-text h2::after {
	content: "";
	position: absolute;
	top: 95px;
	left: 6%;
	width: 75px;
	height: 5px;
	background-color: var(--white);
}
.join-new .room .room-hold img {
	width: 750px;
	height: 600px;
	object-fit: cover;
}
.join-new {
	position: relative;
}
.join-new .room .room-hold {
	position: absolute;
	top: 15%;
	right: 0;
}
.join-new .container1 {
	background-color: var(--menu);
	height: 400px;
}
.join-new .container1 .newletter {
	padding: 80px 0 0 40px;
}
.join-new .container1 .newletter .newletter-main h2 {
	color: var(--white);
	font-size: 28px;
	font-weight: 700;
}
.join-new .container1 .newletter .newletter-main h3 {
	color: var(--white);
	font-size: 22px;
	font-weight: 500;
	padding-top: 20px;
}
.join-new .container1 .newletter .newletter-main .para-6 {
	padding-top: 10px;
}
.join-new .container1 .newletter .newletter-main .para-6 p {
	color: var(--white);
	font-size: 16px;
	font-weight: 200;
}
.join-new .container1 .newletter .newletter-main .inpt {
	display: flex;
}
.join-new .container1 .newletter .newletter-main .inpt .inp {
	padding-top: 53px;
}
.join-new .container1 .newletter .newletter-main .inpt .bt-3 {
	padding: 40px 0 0 10px;
}
.join-new .container1 .newletter .newletter-main .inpt .inp input[type="text"] {
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 3px solid var(--white);
	width: 400px;
	color: var(--white);
}
.join-new .container1 .newletter .newletter-main .inpt .inp input[type="text"]::placeholder {
	color: var(--white);
	font-size: 18px;
	padding: 5px;
}
.join-new .container1 .newletter .newletter-main .inpt .bt-3 button {
	outline: none;
	border: none;
	border: 3px solid var(--white);
	font-size: 14px;
	color: var(--white);
	background-color: transparent;
	width: 150px;
	padding: 8px 2px;
}
.join-new .container1 .newletter .newletter-main {
	position: relative;
}
.join-new .container1 .newletter .newletter-main h2::after {
	content: "";
	position: absolute;
	top: 40px;
	left: 0;
	width: 75px;
	height: 6px;
	background-color: var(--white);
}
.award {
	background-color: var(--back);
	padding-top: 40px;
	height: 200px;
}
.award .container .award-main .award-text h2 {
	color: var(--menu);
	font-size: 24px;
	font-weight: lighter;
}
.award .container .award-main {
	display: flex;
}
.award .container .award-main .award-slid .award-slider img {
	max-width: 100%;
	height: auto;
}
.award .container .award-main .award-slid {
	width: 100%;
	padding-left: 40px;
}
.award .container .award-main .award-slid .award-slider img:hover {
	background-color: var(--white);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	cursor: pointer;
}
.container .get {
	padding-top: 40px;
}
.container .get .get-main {
	display: flex;
	justify-content: space-between;
}
.container .get .get-main .get-text h2 {
	font-size: 28px;
	font-weight: 700;
	color: var(--orange);
}
.container .get .get-main .get-text {
	position: relative;
}
.container .get .get-main .get-text h2::after {
	content: "";
	position: absolute;
	top: 40px;
	left: 0;
	width: 75px;
	height: 6px;
	background-color: var(--orange);
}
.container .get .get-main .get-text .para-7 {
	padding-top: 20px;
}
.container .get .get-main .get-text .para-7 p {
	font-weight: 600;
	font-size: 22px;
	color: var(--menu);
}
.container .get .get-main .get-text .para-7 span {
	color: var(--orange);
}
.container .footer {
	padding-top: 40px;
}
.container .footer .footer-main {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 50px;
}
.container .footer .footer-main .footer-text h3 {
	color: var(--orange);
	font-size: 17px;
	font-weight: 600;
}
.container .footer .footer-main .footer-text .lik {
	display: block;
	padding-top: 20px;
}
.container .footer .footer-main .footer-text .lik a {
	line-height: 30px;
	text-decoration: none;
	color: var(--menu);
	font-size: 15px;
	font-weight: 600;
}
.container .touch {
	padding-top: 30px;
}
.pad {
	margin-right: 48px;
}
.bod {
	border-top: 1px solid #dfe1e5;
	border-bottom: 1px solid #dfe1e5;
	padding-top: 20px;
}
.container .touch .touch-main .touch-content ul li {
	display: inline-block;
}
.container .touch .touch-main .touch-content ul li a {
	text-decoration: none;
	color: var(--menu);
	padding-left: 20px;
	font-weight: 500;
}
.container .touch .touch-main .touch-content ul li span {
	color: var(--orange);
	font-weight: 800;
}
.container .footer-end {
	margin-top: 70px;
}
.container .footer-end .footer-end2 {
	display: flex;
	justify-content: space-between;
}
.container .footer-end .footer-end2 .both1 {
	display: flex;
}
.container .footer-end .footer-end2 .both1 .lik2 {
	display: inline-block;
}
.container .footer-end .footer-end2 .footer-endmain p {
	color: var(--copy);
	font-size: 13px;
	font-weight: 500;
}
.container .footer-end .footer-end2 .both1 .hold-1 {
	margin-right: 70px;
}
.container .footer-end .footer-end2 .both1 .hold-1 .lik2 li {
	list-style-type: none;
	color: var(--orange);
	font-weight: 700;
	font-size: 17px;
	margin-left: 20px;
}
.container .footer-end .footer-end2 .both1 .icons .fab {
	margin-right: 10px;
	font-size: 35px;
}
